  <h3><%= l(:label_tags_plural) %></h3>   

<table class  = "list issues">
	<thead>
		<th><%= l(:field_name) %></th>
		<th align="center" style="width:10%;"> </th> 
	</thead>
	<tbody>
		<% Contact.all_tag_counts(:order => :name).each do |tag| %>
			<tr id="<%= tag.id %>" class="<%= cycle("odd", "even") %> hascontextmenu ">
				<td> <%= link_to tag.name, :controller => "contacts_tags", :action => 'edit', :id => tag %></td>
				<td class="buttons">

			    <%= link_to l(:button_delete), {:controller => "contacts_tags", :action => 'destroy', :id => tag }, 
			    															 :method => :post,
			    															 :confirm => l(:text_are_you_sure),
			    															 :class => 'icon icon-del' %>
			    </td>
			    
			</tr>
			
		<% end %>
	</tbody>
</table>  
